# Maven
/target/
dependency-reduced-pom.xml

# Eclipse
.settings/
.project
.classpath
.factorypath
bin/

# Old folders
HelloFx/

# AI Assistants
.claude/

# Release Artifacts
*.zip
BidHub-Release*/
/uploads/
/online-auction-system/target/
/online-auction-system/bin/
/online-auction-system/.settings/
/online-auction-system/.project
/online-auction-system/.classpath